* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--White: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--Dark-grayish-violet: hsl(279, 6%, 55%);
	--Very-dark-violet: hsl(278, 68%, 11%);
}
@font-face {
	font-family: Space Grotesk;
	src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
body {
}
main {
}
.left-column {
}
.card-front {
}
.card-back {
}
.right-column {
}
.form-body {
}
.input-row-container {
}
label {
}
.input-field {
}
.alert-text {
}
.input-row-container {
}
.input-columns-container {
}
.input-column-1 {
}
.mm-yy-row {
}
.input-column-2 {
}
.button {
}
.confirm-button {
}
.thank-you-container {
}
.complete-form-icon {
}
.heading-text {
}
.subtext {
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
