* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--background-color: rgb(241, 241, 241);
	--red: hsl(0, 100%, 66%);
	--White: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--Dark-grayish-violet: hsl(279, 6%, 55%);
	--Very-dark-violet: hsl(278, 68%, 11%);
}
@font-face {
	font-family: Space Grotesk;
	src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("../images/bg-main-desktop.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: var(--background-color);
}
main {
	font-size: 18px;
	font-family: Space Grotesk;
	margin: auto 0;
	width: fit-content;
	height: fit-content;
}
.center-container {
	display: flex;
	align-items: center;
	gap: 100px;
}
.cards-column {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.card-container {
	width: 360px;
	height: 198px;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 4px 30px 15px rgba(0, 0, 0, 0.15);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 10px;
}
.card-front-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--White);
	margin: 0 0 0 -100px;
	background-image: url("../images/bg-card-front.png");

	padding: 20px 30px;
}
.circles-container {
	display: flex;
	align-items: center;
	gap: 20px;
}
.circle {
	border-radius: 50%;
}
.cirle-large {
	width: 40px;
	height: 40px;
	background-color: var(--White);
}
.cirle-small {
	width: 20px;
	height: 20px;
	border: 1px solid var(--White);
}
.card-details-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.card-number-text {
	font-size: 24px;
	word-spacing: 10px;
}
.card-details-row {
	display: flex;
	justify-content: space-between;
}
.card-owner-name {
	text-transform: uppercase;
}
/* .card-expiry-date {
} */
.card-back-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--White);
	background-image: url("../images/bg-card-back.png");
	padding: 20px 40px;
}
.cvc-number {
	font-size: 14px;
	align-self: end;
}
.card-image {
	width: 400px;
	border-radius: 10px;
	/* box-shadow: 4px 30px 15px rgba(0, 0, 0, 0.15); */
}
/* .right-column{	
} */
.form-body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 400px;
}
.input-row-container {
	display: flex;
	flex-direction: column;
}
label {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.input-field {
	font-family: Space Grotesk;
	font-weight: 400;
	font-size: 18px;
	width: 100%;
	padding: 10px;
	background-color: var(--background-color);
	border-radius: 5px;
	border: 1px solid var(--light-grayish-violet);
	outline: none;
	cursor: pointer;
}
.input-field:focus {
	border: 1px solid var(--Very-dark-violet);
}
.alert-text {
	color: var(--red);
	font-size: 13px;
	margin: 5px 0 0 0;
	display: none;
}
/* .input-row-container {
} */
.input-columns-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.input-column-1 {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.mm-yy-row {
	display: flex;
	gap: 10px;
}
.input-field-small {
}
.input-column-2 {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.button {
	color: var(--White);
	padding: 15px 0;
	background-color: var(--Very-dark-violet);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.button:hover {
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.confirm-button {
}
.thank-you-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 400px;
	display: none;
}
.complete-form-icon {
	width: 100px;
}
.heading-text {
	text-transform: uppercase;
}
.subtext {
	color: var(--Dark-grayish-violet);
	font-size: 14px;
}
.continue-button {
	width: 100%;
}
.attribution {
	width: 300px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (max-width: 475px) {
	body {
		background-image: url("../images/bg-main-mobile.png");
	}
	main {
		flex-direction: column;
		font-size: 18px;
		width: 100%;
	}
	.center-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		width: 100%;
	}
	.cards-column {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 0;
		width: 90%;
	}
	.card-container {
		width: 290px;
		height: 160px;
		border-radius: 10px;
	}
	.card-back-container {
		background-image: url("../images/bg-card-back.png");
		padding: 20px 40px;
		margin: 0 0 0 auto;
	}
	.card-front-container {
		background-image: url("../images/bg-card-front.png");
		padding: 20px 20px;
		margin: -65px auto 0 0;
	}
	.circles-container {
		gap: 15px;
	}
	.cirle-large {
		width: 30px;
		height: 30px;
	}
	.cirle-small {
		width: 15px;
		height: 15px;
	}
	.card-details-container {
		gap: 10px;
	}
	.card-number-text {
		font-size: 18px;
	}
	.right-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.form-body {
		width: 90%;
	}
	.thank-you-container {
		width: 90%;
	}
}
